Authors: Jakidxav, Negin Sobhani
    
This Notebook creates our data labels for a given (singular) station. First, we read in the data and subset for the correct years and calendar days. Then we create a temperature anomaly column, and create labels based on whether this anomaly is greater than or equal to a cutoff value that we have specified. We can do this for the training, development, and validation sets all in one go.

In [0]:
import netCDF4 as nc  
import numpy as np
import datetime
import pandas as pd
import datetime as dt

import matplotlib.pylab as plt
%matplotlib inline

import pickle

In [0]:
#directory where station csv files are held
ghcnd_csv_dir = '/glade/work/ddvento/ML/McKinnon_data/ghcnd/ghcnd_all_csv/'

#starting and ending years in our analysis
start_year = 1982
end_year   = 2015
     
#days that mckinnon used in her paper
start_doy  = 175
end_doy    = 234
        
#temperature anomaly which classifies a day as hot or not-hot
cut_off = 6.5

#found at: https://www.ncdc.noaa.gov/
station_id = 'USC00391621' #station10 chamberlain 5 s, south dakota (136)

#years to subset our data for the development and validation sets
#everything else will go into the training set
dev_nino_list = [1983, 1990, 1995, 2008]
val_nino_list = [1988, 1994, 1999, 2003]

In [0]:
'''
get_ghcnd_stn:
    *Opens the csv file for the GHCND station as df
    *Add a pd.datetime column to the df
    *Add Julian Day (day of the year) jday to the df 
    *Selects data for only the training years
    *Selects data for only the selected days of a year ( e.g. 60 days of summer.) 

----------
Parameters:
    ghcnd_csv_dir --- path to GHCN processed csv files.
    stn_id --- GHCN station ID based on GHCN readme.txt
        (ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/readme.txt)

    start_year --- start year for the period to slice. 
    end_year 

    start_doy  --- start julian day (day of year) for the period
                    you are looking at.  
    end_doy
-------
Returns:
    stn_data --- 

-------
Example:
    stn_data = get_ghcnd_stn(ghcnd_csv_dir,stn_id,1982,
                2015, 30, 90)

'''
def get_ghcnd_stn (ghcnd_csv_dir, stn_id, start_year, end_year, start_doy, end_doy):
        #create station label so that we can read in the file using pandas
        stn_csv = ghcnd_csv_dir+stn_id+'.csv'
        
        #read in file, replace nan values
        stn_raw = pd.read_csv(stn_csv,na_values=-9999)
            
        #convert dates into datetime objects so that we can extract the day of the year
        stn_raw['date']=pd.to_datetime(stn_raw['YYYY'].astype(str)+'-'+stn_raw['MM'].astype(str)+'-'+stn_raw['DD'].astype(str))
        stn_raw['jday'] = stn_raw['date'].dt.dayofyear.apply(lambda x: str(x).zfill(3)).astype(int)

        #subset data based on years and calendar days
        yrs_data = stn_raw[(stn_raw['YYYY']>=start_year) & (stn_raw['YYYY']<=end_year)]
        stn_data= yrs_data[(yrs_data['jday']>=start_doy) & (yrs_data['jday']<=end_doy)]
            
        return stn_data

In [0]:
'''
calc_stn_anom :
    *Calculates the anomalies of selected var for the station.
----------
Parameters:
    stn_data ---
    var --- Name of the varibale to calculate anomalies on :
            e.g. TMAX, TMIN, PRCP
-------
Returns:
    stn_data --- 

-------
Example:
    calc_stn_anom (stn_data, 'TMAX')
    '''
def calc_stn_anom (stn_data, var):
        #create an anomaly column variable in our dataframe
        var_anom= var+"ANOM"
        
        #create mean of a given variable by the .groupby() method and applying a mean transform
        means=stn_data.groupby(['MM','DD'])[var].transform('mean')
            
        #create anomaly by subtracting mean
        stn_data[var_anom]= stn_data[var] - means
            
        return stn_data

In [0]:
'''
* Find the hot days (or extreme events) based on a cut off value.
* Store this flag ('HOT') as a column in the stn_data.
----------
Parameters:
    stn_data ---
    cut_off --- cut off value for the extreme events
-------
Returns:
    stn_data --- 

-------
Example:
    find_hot_days (stn_data, cut_off)

'''
def find_hot_days (stn_data, cut_off):
        #if the day is hotter (or as hot) as our maximum temperature anomaly
        #create a label of 1; 0 if less than the cuttoff temperature anomaly
        stn_data['HOT'] = np.where(stn_data['TMAXANOM']>= cut_off,1,0)
            
        return stn_data

In [0]:
#call method that gets our data in the right format
#correct days, years, etc.
station_data = get_ghcnd_stn(ghcnd_csv_dir, station_id, start_year, end_year, start_doy, end_doy)

station_data.head()

     YYYY  MM  DD  TMAX  TMIN  PRCP  SNOW  SNWD       date  jday
631  1982   6  24  32.2  15.6   0.0   0.0   0.0 1982-06-24   175
632  1982   6  25  20.6   9.4   1.3   0.0   0.0 1982-06-25   176
633  1982   6  26  23.3   NaN   0.0   0.0   0.0 1982-06-26   177
634  1982   6  27  27.2  12.8   0.0   0.0   0.0 1982-06-27   178
635  1982   6  28  31.7  15.6   0.0   0.0   0.0 1982-06-28   179

In [0]:
#calculate anomaly based on the maximum temperature variable
station_data2 = calc_stn_anom(station_data, 'TMAX')

station_data2.head()

     YYYY  MM  DD  TMAX  TMIN  PRCP  SNOW  SNWD       date  jday  TMAXANOM
631  1982   6  24  32.2  15.6   0.0   0.0   0.0 1982-06-24   175  2.938235
632  1982   6  25  20.6   9.4   1.3   0.0   0.0 1982-06-25   176 -8.567647
633  1982   6  26  23.3   NaN   0.0   0.0   0.0 1982-06-26   177 -6.014706
634  1982   6  27  27.2  12.8   0.0   0.0   0.0 1982-06-27   178 -1.920588
635  1982   6  28  31.7  15.6   0.0   0.0   0.0 1982-06-28   179  2.338235

In [0]:
#calculate hot or not-hot labels based on our cutoff value
station_data3 = find_hot_days(station_data2, cut_off)

print(station_data3.HOT.unique())

[0 1]

In [0]:
print(np.count_nonzero(station_data3.HOT))

136

In [0]:
print(station_data3.HOT.shape)

(2040,)

In [0]:
#dev_nino_list = [1983, 1990, 1995, 2008]
#subset for development set
_1983 = station_data3[station_data3.YYYY == 1983]
_1990 = station_data3[station_data3.YYYY == 1990]
_1995 = station_data3[station_data3.YYYY == 1995]
_2008 = station_data3[station_data3.YYYY == 2008]

#create development set through concatenation
hot_dev = pd.concat([_1983, _1990, _1995, _2008])

print(hot_dev)

       YYYY  MM  DD  TMAX  TMIN  PRCP  SNOW  SNWD       date  jday   TMAXANOM  \
965    1983   6  24  32.2  17.2   0.0   0.0   0.0 1983-06-24   175   2.938235
966    1983   6  25  33.3  18.9   0.0   0.0   0.0 1983-06-25   176   4.132353
967    1983   6  26  32.8  18.9   0.0   0.0   0.0 1983-06-26   177   3.485294
968    1983   6  27  27.2  17.2   0.0   0.0   0.0 1983-06-27   178  -1.920588
969    1983   6  28  22.8  13.9  21.8   0.0   0.0 1983-06-28   179  -6.561765
970    1983   6  29  16.7  13.9   8.9   0.0   0.0 1983-06-29   180 -13.011765
971    1983   6  30  25.6  15.0   0.8   0.0   0.0 1983-06-30   181  -3.138235
972    1983   7   1  30.6  13.9  44.2   0.0   0.0 1983-07-01   182   1.324242
973    1983   7   2  30.0  14.4   0.3   0.0   0.0 1983-07-02   183   1.030303
974    1983   7   3  32.8  18.9   3.8   0.0   0.0 1983-07-03   184   2.640625
975    1983   7   4  21.1  11.1   1.3   0.0   0.0 1983-07-04   185  -9.515152
976    1983   7   5  23.9  11.7   0.0   0.0   0.0 1983-07-05   186  -6.554545
977    1983   7   6  30.0  13.3   0.0   0.0   0.0 1983-07-06   187  -0.981818
978    1983   7   7  32.2  17.8   0.0   0.0   0.0 1983-07-07   188   0.996970
979    1983   7   8  35.0  19.4   0.0   0.0   0.0 1983-07-08   189   4.054545
980    1983   7   9  35.0  17.2   0.0   0.0   0.0 1983-07-09   190   4.442424
981    1983   7  10  36.1  17.2   0.0   0.0   0.0 1983-07-10   191   4.721212
982    1983   7  11  37.8  14.4   0.0   0.0   0.0 1983-07-11   192   6.772727
983    1983   7  12  28.3  12.2   0.0   0.0   0.0 1983-07-12   193  -2.145455
984    1983   7  13  33.3  16.1   0.0   0.0   0.0 1983-07-13   194   2.863636
985    1983   7  14  36.7  19.4   0.0   0.0   0.0 1983-07-14   195   4.757576
986    1983   7  15  36.1  21.7   0.0   0.0   0.0 1983-07-15   196   4.484848
987    1983   7  16  32.8  15.6  17.8   0.0   0.0 1983-07-16   197   0.009091
988    1983   7  17  28.9  16.1   2.8   0.0   0.0 1983-07-17   198  -4.630303
989    1983   7  18  33.3  18.3   3.0   0.0   0.0 1983-07-18   199   0.287879
990    1983   7  19  34.4  18.3   0.0   0.0   0.0 1983-07-19   200   1.530303
991    1983   7  20  40.0  22.2   0.0   0.0   0.0 1983-07-20   201   8.403030
992    1983   7  21  38.9  21.1   0.0   0.0   0.0 1983-07-21   202   6.648485
993    1983   7  22  35.0  20.0   0.0   0.0   0.0 1983-07-22   203   3.939394
994    1983   7  23  32.2  15.6  51.3   0.0   0.0 1983-07-23   204   0.693939
...     ...  ..  ..   ...   ...   ...   ...   ...        ...   ...        ...
10110  2008   7  23  31.1  17.8  10.2   0.0   0.0 2008-07-23   205  -0.406061
10111  2008   7  24  25.0  17.8  34.5   0.0   0.0 2008-07-24   206  -6.406061
10112  2008   7  25  30.6  17.2   0.0   0.0   0.0 2008-07-25   207  -1.106061
10113  2008   7  26  31.1  18.3   0.0   0.0   0.0 2008-07-26   208  -0.515152
10114  2008   7  27  31.7  19.4   0.0   0.0   0.0 2008-07-27   209   0.342424
10115  2008   7  28  32.8  19.4   0.0   0.0   0.0 2008-07-28   210   0.912121
10116  2008   7  29  32.8  17.2   3.8   0.0   0.0 2008-07-29   211   1.218182
10117  2008   7  30  31.1  18.3   0.0   0.0   0.0 2008-07-30   212  -0.227273
10118  2008   7  31  35.6  19.4   0.0   0.0   0.0 2008-07-31   213   3.263636
10119  2008   8   1  31.7  16.7   0.0   0.0   0.0 2008-08-01   214  -0.924242
10120  2008   8   2  33.3  17.2   0.0   0.0   0.0 2008-08-02   215   1.250000
10121  2008   8   3  32.2  18.9   0.0   0.0   0.0 2008-08-03   216   0.255882
10122  2008   8   4  32.2  18.9   0.0   0.0   0.0 2008-08-04   217   1.008824
10123  2008   8   5  30.0  15.6   0.0   0.0   0.0 2008-08-05   218   0.873529
10124  2008   8   6  32.2  16.7  10.9   0.0   0.0 2008-08-06   219   1.729412
10125  2008   8   7  29.4  15.6   0.0   0.0   0.0 2008-08-07   220  -0.979412
10126  2008   8   8  31.1  16.7   0.0   0.0   0.0 2008-08-08   221  -0.729412
10127  2008   8   9  32.2  17.8   0.0   0.0   0.0 2008-08-09   222   1.044118
10128  2008   8  10  32.8  17.2   0.5   0.0   0.0 2008-08-10   223   2.694118
10129  2008   8  11  31.1  17.8   0.0   0.0   0.0 2008-08-11   224   1.838235
10130  2008   8  12  30.0  14.4  12.7   0.0   0.0 2008-08-12   225  -0.338235
10131  2008   8  13  32.2  16.1   0.0   0.0   0.0 2008-08-13   226   2.805882
10132  2008   8  14  31.7  13.3   0.0   0.0   0.0 2008-08-14   227   2.491176
10133  2008   8  15  29.4  14.4   6.1   0.0   0.0 2008-08-15   228  -0.923529
10134  2008   8  16  27.8  15.0   0.0   0.0   0.0 2008-08-16   229  -3.132353
10135  2008   8  17  30.0  18.3   0.0   0.0   0.0 2008-08-17   230  -0.041176
10136  2008   8  18  30.0  15.6   0.0   0.0   0.0 2008-08-18   231  -0.323529
10137  2008   8  19  32.2  15.6   0.0   0.0   0.0 2008-08-19   232   2.838235
10138  2008   8  20  30.6  17.2   0.0   0.0   0.0 2008-08-20   233   1.891176
10139  2008   8  21  30.0  18.3   0.0   0.0   0.0 2008-08-21   234   0.908824

       HOT
965      0
966      0
967      0
968      0
969      0
970      0
971      0
972      0
973      0
974      0
975      0
976      0
977      0
978      0
979      0
980      0
981      0
982      1
983      0
984      0
985      0
986      0
987      0
988      0
989      0
990      0
991      1
992      1
993      0
994      0
...    ...
10110    0
10111    0
10112    0
10113    0
10114    0
10115    0
10116    0
10117    0
10118    0
10119    0
10120    0
10121    0
10122    0
10123    0
10124    0
10125    0
10126    0
10127    0
10128    0
10129    0
10130    0
10131    0
10132    0
10133    0
10134    0
10135    0
10136    0
10137    0
10138    0
10139    0

[240 rows x 12 columns]

In [0]:
#get development set target lables
Y_dev = hot_dev.HOT.values

print(Y_dev.shape)

(240,)

In [0]:
#val_nino_list = [1988, 1994, 1999, 2003]
_1988 = station_data3[station_data3.YYYY == 1988]
_1994 = station_data3[station_data3.YYYY == 1994]
_1999 = station_data3[station_data3.YYYY == 1999]
_2003 = station_data3[station_data3.YYYY == 2003]

#create validation set through concatenation
hot_val = pd.concat([_1988, _1994, _1999, _2003])

#get labels so that we can save them
Y_val = hot_val.HOT.values

print(Y_val.shape)

(240,)

In [0]:
print(station_data3.YYYY.unique())

print(station_data3.head())

[1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995
 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009
 2010 2011 2012 2013 2014 2015]
     YYYY  MM  DD  TMAX  TMIN  PRCP  SNOW  SNWD       date  jday  TMAXANOM  \
631  1982   6  24  32.2  15.6   0.0   0.0   0.0 1982-06-24   175  2.938235
632  1982   6  25  20.6   9.4   1.3   0.0   0.0 1982-06-25   176 -8.567647
633  1982   6  26  23.3   NaN   0.0   0.0   0.0 1982-06-26   177 -6.014706
634  1982   6  27  27.2  12.8   0.0   0.0   0.0 1982-06-27   178 -1.920588
635  1982   6  28  31.7  15.6   0.0   0.0   0.0 1982-06-28   179  2.338235

     HOT
631    0
632    0
633    0
634    0
635    0

In [0]:
#the years in the dev and val sets
list_years = [1983, 1988, 1990, 1994, 1995, 1999, 2003, 2008]

#every year not in the dev or val sets should be in the training set
for i in list_years:
    station_data3 = station_data3[station_data3.YYYY != i]

Y_train = station_data3.HOT.values

print(Y_train.shape)

(1560,)

In [0]:
#create directories to save output to if they don't already exist
os.mkdir('/glade/work/jakidxav/IPython/20_lead/Y_train/station11/')
os.mkdir('/glade/work/jakidxav/IPython/20_lead/Y_dev/station11/')
os.mkdir('/glade/work/jakidxav/IPython/20_lead/Y_val/station11/')

#save train labels for a particular lead time
Y_train_filename = '/glade/work/jakidxav/IPython/20_lead/Y_train/station11/Y_train.txt'
with open(Y_train_filename, 'wb') as f:
   pickle.dump(Y_train, f)

#save dev labels for a particular lead time
Y_dev_filename = '/glade/work/jakidxav/IPython/20_lead/Y_dev/station11/Y_dev.txt'
with open(Y_dev_filename, 'wb') as g:
   pickle.dump(Y_dev, g)

#save validation labels for a particular lead time
Y_val_filename = '/glade/work/jakidxav/IPython/20_lead/Y_val/station11/Y_val.txt'
with open(Y_val_filename, 'wb') as h:
   pickle.dump(Y_val, h)

In [0]:
print(Y_val)

[0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 1 1 0 0 0 0 0 0 0 0 0 1 1 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0]

In [0]:
print(Y_val.shape)

(240,)